/*karls css start*/

.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}

.marcellus-regular {
  font-family: "Marcellus", serif;
  font-weight: 400;
  font-style: normal;
}


.h3-KW{text-align: center;
		background-color:#4A70A9;
		width:auto;
		margin-left: auto;
		margin-right:auto;
		border: 10px solid #4A70A9 ;
		border-radius: 25px;
		text-decoration: underline}

#body-KW-1{background-image:url("../img/Reginald's Tower.jpg");
		background-repeat: no-repeat;
		background-attachment:fixed;
		background-size:cover;
		background-position-y:center;
		}
.h1-kw{text-align: center;
		background-color:#8FABD4;
		width:400px;
		margin-left: auto;
		margin-right:auto;
		border: 10px solid #4A70A9 ;
		border-radius: 25px;
		text-decoration: underline;
		}

#body-KW-2{background-image:url("../img/Alcudia Streets.jpg");
		background-repeat: no-repeat;
		background-attachment:fixed;
		background-size:cover;
		background-position-y:center;
		}
		
		

.navbar{background-color: #EFECE3}
	

 


#KW-P4-div1{background-color:#8FABD4 ;
		border-radius: 15px;
		border: 10px solid #4A70A9;
		margin:15px	}

#KW-P4-div{}




#KW-P4-div4{background-color:#8FABD4 ;
		border-radius: 15px;
		border: 10px solid #4A70A9;
		margin:15px }

#KW-P4-img1{float: right;
			height:100%;
			width:100%;
			border-radius: 15px;
		border: 10px solid #4A70A9
			}
		
#KW-P1-img1 {float: left;
			height:400px;
			width:350px;
			margin:15px;
			}
		

#KW-P4-img2{float: right;
			height:100%;
			width:100%;
			border-radius: 15px;
		border: 10px solid #4A70A9}
			
.div-1-KW{background-color:#8FABD4;
		border-radius: 15px;
}

.row-1-KW{border: 10px solid #4A70A9 ;
		border-radius: 25px}
		
.div-2-KW{background-color:#8FABD4;
		border-radius: 15px;
}

.row-2-KW{border: 10px solid #4A70A9 ;
		border-radius: 25px}
		
#KW-P1-img2 {float: right;
			height:400px;
			width:350px;
			margin:15px}
		

		




/*karls css end*/ 




