.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}

.marcellus-regular {
  font-family: "Marcellus", serif;
  font-weight: 400;
  font-style: normal;
}
/*karls css start*/

.h3-KW{text-align: center}

.body-KW{background-image:url("img/backg.jpg");
		background-repeat: no-repeat;
		background-attachment:fixed;
		background-size:cover;
		background-position-y:center;
		}
.h1-kw{text-align: center;
		background-color:#8FABD4;
		width:250px;
		margin-left: auto;
		margin-right:auto;
		border: 10px solid #4A70A9 ;
		border-radius: 25px;
		text-decoration: underline;
		}
		
@media screen and (min-width: 461px) and (max-width: 1920px) {
#nav{background-color:#EFECE3}
	
#rowoneKW{border: 10px solid #4A70A9 ;
		border-radius: 25px}
 
#row2KW{border: 10px solid #4A70A9 ;
		border-radius: 25px}

#KW-P4-div1{background-color:#8FABD4 ;
		border-radius: 15px 0px 0px 15px
			}

#KW-P4-div2{background-color:#8FABD4;
		border-radius: 0px 15px 15px 0px }

#KW-P4-div3{background-color:#8FABD4;
			border-radius: 15px 0px 0px 15px}

#KW-P4-div4{background-color:#8FABD4;
		border-radius: 0px 15px 15px 0px }

#KW-P4-img1{height:400px;
		width:100%}
		
#KW-P1-img1 {float: left;
			height:300px;
			width:300px;
			margin:15px}
		

#KW-P4-img2{height:400px;
			width:100%}
			
.div-1-KW{background-color:#8FABD4;
		border-radius: 15px;
}

.row-1-KW{border: 10px solid #4A70A9 ;
		border-radius: 25px}
		
.div-2-KW{background-color:#8FABD4;
		border-radius: 15px;
}

.row-2-KW{border: 10px solid #4A70A9 ;
		border-radius: 25px}
		
#KW-P1-img2 {float: right;
			height:300px;
			width:300px;
			margin:15px}
		

		


@media screen and (min-width: 360px) and (max-width: 460px) {
	#nav{background-color:#EFECE3}
	
#rowoneKW{border: 10px solid #4A70A9 ;
		border-radius: 25px}
 
#row2KW{border: 10px solid #4A70A9 ;
		border-radius: 25px}

#KW-P4-div1{background-color:#8FABD4 ;
		border-radius: 15px 15px 0px 0px
			}

#KW-P4-div2{background-color:#8FABD4;
		border-radius: 0px 0px 15px 15px }

#KW-P4-div3{background-color:#8FABD4;
			border-radius: 15px 15px 0px 0px}

#KW-P4-div4{background-color:#8FABD4;
		border-radius: 0px 0px 15px 15px }

#KW-P4-img1{height:400px;
		width:100%}
		
#KW-p1-img1 {float: left;
	height:200px;
		width:100px}
		

#KW-P4-img2{height:400px;
			width:100%}


}

/*karls css end*/ 




